{% extends 'base_restaurateur_page.html' %}

{% block header_nav %}{% endblock %}

{% block title %}Авторизация | Star Burger{% endblock %}


{% block content %}
  <div class="container text-center">
    <h2 style="margin-top: 60px;">Авторизация</h2>

    <hr/>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <form method="post">
          {% csrf_token %}

          <input type="hidden" name="next" value="{{ request.GET.next }}"/>

          {% if invalid %}
            <div class="alert alert-danger" role="alert">Неверный логин / пароль.</div>
          {% endif %}

          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Войти</button>
        </form>
      </div>

    </div>
    <hr>
    <div class="text-center">
        Нужен аккаунт? <a href="{% url 'restaurateur:register' %}" style="text-decoration:none">Зарегистрироваться</a>
    </div>
  </div>
{% endblock %}
